* {
    margin: 0px;
}

/* header style start */
.header {
    background-image: url(../images/banner/banner1.png);
    height: 800px;
    background-repeat: round;
}
.header-content {
    text-align: right;
    padding: 200px;
}
.header .header-content h1 {
    font-size: 60px;
    font-weight: 700;
}
.header .header-content p {
    font-size: 25px;
    margin-top: 16px;
    color: rgb(95, 84, 84);
}
.btn {
    height: 60px;
    width: 150px;
    margin-top: 20px;
    background-color: orangered;
    border: none;
    color: white;
    font-size: 20px;
}
/* header style end */
/* failure style start */
.failure-sec {
    display: flex;
    margin: 200px;
}
.failure-details {
    margin: 120px;
}

.failure-details h1 {
    font-size: 50px;
}
.failure-details p {
    font-size: 20px;
    margin-top: 20px;
}
.failure-details p span {
    color: red;
}
/* failure style end */
/* my plan style start  */
.plan {
    text-align: center;
    font-size: 50px;
}
.my-plan {
    display: flex;
    justify-content: center;
    margin-top: 100px;
    gap: 80px;
    text-align: center;
}
.my-plan h1 {
    font-weight: 800px;
    margin-top: 15px;    
}
.my-plan p {
    margin-top: 15px;
    font-size: 20px;
    color: rgb(75, 69, 62);
}
/* my plan style end  */
/* gardent style section start  */
.gardent {
    background-image: url(../images/gradient1.png);
    margin: 300px;
    padding: 70px;
    background-image: linear-gradient(180deg, rgb(221, 201, 25), rgb(218, 108, 5));
}
.gardent h1 {
    font-size: 40px;
    color: white;
}
.gardent-btn {
    height: 50px;
    width: 140px;
    margin-top: 20px;
    color: red;
    font-size: 20px;
    border: none;
    font-weight: 700;
}
/* gardent style section end  */
/* footer style start  */
.footer {
    display: flex;
    background-color: black;
    color: white;
    justify-content: center;
}
.footer-content {
    padding: 150px;
    display: flex;
    gap: 200px;

}
.footer-content1 h1 {
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;
}
.footer-content1 p {
    font-size: 20px;
    color: rgb(189, 199, 194);
}
.footer-content2 h2 {
    font-size: 30px;
    font-weight: 500;
}
.footer-content2 #email {
    margin-top: 20px;
    height: 50px;
    width: 250px;
    font-size: 20px;
    background-color: black;
    border: 1px solid white;
    border-radius: 10px;
    padding-left: 20px;
    color: rgb(250, 250, 250);
}
::placeholder {
    color: white;
}
.footer-content2 button {
    margin-top: 10px;
    height: 50px;
    width: 180px;
    font-size: 20px;
    color: red;
    border-radius: 10px;
    font-weight: 600;
}


/* footer style end */